<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CRM - Customer Relationship Manager</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />

</head>
<body>

<div id="wrapper">
    <div id="header">
        <h2>CRM - Customer Relationship Manager</h2>
    </div>
</div>

<div id="container">
    <div id="content">
        <input type="button" value="Add Customer"
               th:onclick="'window.location.href=\'' + @{/customer/showFormForAdd} + '\'; return false;'"
               class="add-button"
        />
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            <tr th:each="tempCustomer : ${customers}">
                <td th:text="${tempCustomer.firstName}"></td>
                <td th:text="${tempCustomer.lastName}"></td>
                <td th:text="${tempCustomer.email}"></td>
                <td>
                    <!-- Construct an "update" link with customer id -->
                    <a th:href="@{/customer/showFormForUpdate(customerId=${tempCustomer.id})}">Update</a>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
